Objectives
 

Project Brief
You work for Spark Funds, an asset management company. Spark Funds wants to make investments in a few companies. The CEO of Spark Funds wants to understand the global trends in investments so that she can take the investment decisions effectively.

 

Business and Data Understanding
Spark Funds has two minor constraints for investments:

It wants to invest between 5 to 15 million USD per round of investment

It wants to invest only in English-speaking countries because of the ease of communication with the companies it would invest in

For your analysis, consider a country to be English speaking only if English is one of the official languages in that country

You may use this list: Click here for a list of countries where English is an official language.

 

These conditions will give you sufficient information for your initial analysis. Before getting to specific questions, let’s understand the problem and the data first.

 

1. What is the strategy?

Spark Funds wants to invest where most other investors are investing. This pattern is often observed among early stage startup investors.

 

2. Where did we get the data from? 

We have taken real investment data from crunchbase.com, so the insights you get may be incredibly useful. For this group project, we have divided the data into the following files:

 

You have to use three main data tables for the entire analysis (available for download on the next page):

 

3. What is Spark Funds’ business objective?

The business objectives and goals of data analysis are pretty straightforward.

Business objective: The objective is to identify the best sectors, countries, and a suitable investment type for making investments. The overall strategy is to invest where others are investing, implying that the 'best' sectors and countries are the ones 'where most investors are investing'.
Goals of data analysis: Your goals are divided into three sub-goals:
Investment type analysis: Comparing the typical investment amounts in the venture, seed, angel, private equity etc. so that Spark Funds can choose the type that is best suited for their strategy.
Country analysis: Identifying the countries which have been the most heavily invested in the past. These will be Spark Funds’ favourites as well.
Sector analysis: Understanding the distribution of investments across the eight main sectors. (Note that we are interested in the eight 'main sectors' provided in the mapping file. The two files — companies and rounds2 — have numerous sub-sector names; hence, you will need to map each sub-sector to its main sector.)
 

4. How do you approach the case study? What are the deliverables?

The entire case study is divided into checkpoints to help you navigate. For each checkpoint, you are advised to fill in the tables into the spreadsheet provided in the download segment. The tables are also mentioned under the 'Results Expected' section after each checkpoint. Since this is the first case study, you have been provided with some additional guidance. Going forward you will be expected to structure and solve the problem by yourself, just like you would be solving problems in real life scenarios.

 

Important Note: All your code has to be submitted in one Jupyter notebook. For every checkpoint, keep writing code in one well-commented Jupyter notebook which you can submit at the end.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load company dataset
# Without encoding the read_csv was giving an error "Unicode Decode Error"
companies_df = pd.read_csv('Data/companies.txt',delimiter='\t',encoding='unicode_escape')

In [4]:
companies_df.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [3]:
# Load funding rounds file, got same error on the Unicode/Decode Error, used recommended encoding.
rounds2_df = pd.read_csv('Data/rounds2.csv',encoding='unicode_escape')

In [4]:
# Quickly inspect the data frame
rounds2_df.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [7]:
rounds2_df.count()

company_permalink          114949
funding_round_permalink    114949
funding_round_type         114949
funding_round_code          31140
funded_at                  114949
raised_amount_usd           94959
dtype: int64

In [8]:
# Load the mapping file for the sector classification
sector_mapping_df = pd.read_csv('Data/mapping.csv')

In [9]:
sector_mapping_df.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [10]:
# Load the country codes file
# source: https://github.com/datasets/country-codes/blob/master/data/country-codes.csv
# columns of interest: country name: official_name_en, Country code: ISO3166-1-Alpha-3
country_df = pd.read_csv('Data/country-codes.csv')

In [11]:
country_df.head()

,FIFA,Dial,ISO3166-1-Alpha-3,MARC,is_independent,ISO3166-1-numeric,GAUL,FIPS,WMO,ISO3166-1-Alpha-2,...,Sub-region Name,official_name_ru,Global Name,Capital,Continent,TLD,Languages,Geoname ID,CLDR display name,EDGAR
0,TPE,886,TWN,ch,Yes,158.0,925,TW,,TW,...,NaN,NaN,NaN,Taipei,AS,.tw,"zh-TW,zh,nan,hak",1668284.0,Taiwan,NaN
1,AFG,93,AFG,af,Yes,4.0,1,AF,AF,AF,...,Southern Asia,Афганистан,World,Kabul,AS,.af,"fa-AF,ps,uz-AF,tk",1149361.0,Afghanistan,B2
2,ALB,355,ALB,aa,Yes,8.0,3,AL,AB,AL,...,Southern Europe,Албания,World,Tirana,EU,.al,"sq,el",783754.0,Albania,B3
3,ALG,213,DZA,ae,Yes,12.0,4,AG,AL,DZ,...,Northern Africa,Алжир,World,Algiers,AF,.dz,ar-DZ,2589581.0,Algeria,B4
4,ASA,1-684,ASM,as,Territory of US,16.0,5,AQ,,AS,...,Polynesia,Американское Самоа,World,Pago Pago,OC,.as,"en-AS,sm,to",5880801.0,American Samoa,B5

In [12]:
country_df[['official_name_en','ISO3166-1-Alpha-3']]

                                      official_name_en ISO3166-1-Alpha-3
0                                                  NaN               TWN
1                                          Afghanistan               AFG
2                                              Albania               ALB
3                                              Algeria               DZA
4                                       American Samoa               ASM
5                                              Andorra               AND
6                                               Angola               AGO
7                                             Anguilla               AIA
8                                           Antarctica               ATA
9                                  Antigua and Barbuda               ATG
10                                           Argentina               ARG
11                                             Armenia               ARM
12                                               Aruba               ABW
13                                           Australia               AUS
14                                             Austria               AUT
15                                          Azerbaijan               AZE
16                                             Bahamas               BHS
17                                             Bahrain               BHR
18                                          Bangladesh               BGD
19                                            Barbados               BRB
20                                             Belarus               BLR
21                                             Belgium               BEL
22                                              Belize               BLZ
23                                               Benin               BEN
24                                             Bermuda               BMU
25                                              Bhutan               BTN
26                    Bolivia (Plurinational State of)               BOL
27                    Bonaire, Sint Eustatius and Saba               BES
28                              Bosnia and Herzegovina               BIH
29                                            Botswana               BWA
..                                                 ...               ...
220          The former Yugoslav Republic of Macedonia               MKD
221                                        Timor-Leste               TLS
222                                               Togo               TGO
223                                            Tokelau               TKL
224                                              Tonga               TON
225                                Trinidad and Tobago               TTO
226                                            Tunisia               TUN
227                                             Turkey               TUR
228                                       Turkmenistan               TKM
229                           Turks and Caicos Islands               TCA
230                                             Tuvalu               TUV
231                                             Uganda               UGA
232                                            Ukraine               UKR
233                               United Arab Emirates               ARE
234  United Kingdom of Great Britain and Northern I...               GBR
235                        United Republic of Tanzania               TZA
236               United States Minor Outlying Islands               UMI
237                       United States Virgin Islands               VIR
238                           United States of America               USA
239                                            Uruguay               URY
240                                         Uzbekistan               UZB
241                                            Vanuatu               VUT
242                 Venezuela (Bolivarian Republic of)               VEN
243                                           Viet Nam               VNM
244                          Wallis and Futuna Islands               WLF
245                                     Western Sahara               ESH
246                                              Yemen               YEM
247                                             Zambia               ZMB
248                                           Zimbabwe               ZWE
249                                      Åland Islands               ALA

[250 rows x 2 columns]

In [13]:
# Rename the columns for easier analysis in later stages - only country - code & code are required for now
country_df.rename(columns={'official_name_en': 'Name', 'ISO3166-1-Alpha-3': 'Code'}, inplace=True)

In [14]:
country_df[['Code','Name']]

    Code                                               Name
0    TWN                                                NaN
1    AFG                                        Afghanistan
2    ALB                                            Albania
3    DZA                                            Algeria
4    ASM                                     American Samoa
5    AND                                            Andorra
6    AGO                                             Angola
7    AIA                                           Anguilla
8    ATA                                         Antarctica
9    ATG                                Antigua and Barbuda
10   ARG                                          Argentina
11   ARM                                            Armenia
12   ABW                                              Aruba
13   AUS                                          Australia
14   AUT                                            Austria
15   AZE                                         Azerbaijan
16   BHS                                            Bahamas
17   BHR                                            Bahrain
18   BGD                                         Bangladesh
19   BRB                                           Barbados
20   BLR                                            Belarus
21   BEL                                            Belgium
22   BLZ                                             Belize
23   BEN                                              Benin
24   BMU                                            Bermuda
25   BTN                                             Bhutan
26   BOL                   Bolivia (Plurinational State of)
27   BES                   Bonaire, Sint Eustatius and Saba
28   BIH                             Bosnia and Herzegovina
29   BWA                                           Botswana
..   ...                                                ...
220  MKD          The former Yugoslav Republic of Macedonia
221  TLS                                        Timor-Leste
222  TGO                                               Togo
223  TKL                                            Tokelau
224  TON                                              Tonga
225  TTO                                Trinidad and Tobago
226  TUN                                            Tunisia
227  TUR                                             Turkey
228  TKM                                       Turkmenistan
229  TCA                           Turks and Caicos Islands
230  TUV                                             Tuvalu
231  UGA                                             Uganda
232  UKR                                            Ukraine
233  ARE                               United Arab Emirates
234  GBR  United Kingdom of Great Britain and Northern I...
235  TZA                        United Republic of Tanzania
236  UMI               United States Minor Outlying Islands
237  VIR                       United States Virgin Islands
238  USA                           United States of America
239  URY                                            Uruguay
240  UZB                                         Uzbekistan
241  VUT                                            Vanuatu
242  VEN                 Venezuela (Bolivarian Republic of)
243  VNM                                           Viet Nam
244  WLF                          Wallis and Futuna Islands
245  ESH                                     Western Sahara
246  YEM                                              Yemen
247  ZMB                                             Zambia
248  ZWE                                           Zimbabwe
249  ALA                                      Åland Islands

[250 rows x 2 columns]

In [37]:
# Create a new dataframe for the english speaking countries
eng_countries_list = [{'continent':'Asia','country':'India'},
                      {'continent':'Asia','country':'Pakistan'},
                      {'continent':'Asia','country':'Philippines'},
                      {'continent':'Asia','country':'Singapore'},
                      {'continent':'Africa','country':'Botswana'},
                      {'continent':'Africa','country':'Cameroon'},
                      {'continent':'Africa','country':'Ethiopia'},
                      {'continent':'Africa','country':'Eritrea'},
                      {'continent':'Africa','country':'The Gambia'},
                      {'continent':'Africa','country':'Ghana'},
                      {'continent':'Africa','country':'Kenya'},
                      {'continent':'Africa','country':'Lesotho'},
                      {'continent':'Africa','country':'Liberia'},
                      {'continent':'Africa','country':'Malawi'},
                      {'continent':'Africa','country':'Mauritius'},
                      {'continent':'Africa','country':'Namibia'},
                      {'continent':'Africa','country':'Nigeria'},
                      {'continent':'Africa','country':'Rwanda'},
                      {'continent':'Africa','country':'Seychelles'},
                      {'continent':'Africa','country':'Sierra Leone'},
                      {'continent':'Africa','country':'South Africa'},
                      {'continent':'Africa','country':'South Sudan'},
                      {'continent':'Africa','country':'Sudan'},
                      {'continent':'Africa','country':'Swaziland'},
                      {'continent':'Africa','country':'Tanzania'},
                      {'continent':'Africa','country':'Uganda'},
                      {'continent':'Africa','country':'Zambia'},
                      {'continent':'Africa','country':'Zimbabwe'},
                      {'continent':'Americas','country':'Antigua and Barbuda'},
                      {'continent':'Americas','country':'Bahamas'},
                      {'continent':'Americas','country':'Barbados'},
                      {'continent':'Americas','country':'Belize'},
                      {'continent':'Americas','country':'Canada'},
                      {'continent':'Americas','country':'Dominica'},
                      {'continent':'Americas','country':'Grenada'},
                      {'continent':'Americas','country':'Guyana'},
                      {'continent':'Americas','country':'Jamaica'},
                      {'continent':'Americas','country':'Saint Kitts and Nevis'},
                      {'continent':'Americas','country':'Saint Lucia'},
                      {'continent':'Americas','country':'Saint Vincent and the Grenadines'},
                      {'continent':'Americas','country':'Trinidad and Tobago'},
                      {'continent':'Americas','country':'United States of America'},
                      {'continent':'Australia/Oceania','country':'Australia'},
                      {'continent':'Australia/Oceania','country':'Fiji'},
                      {'continent':'Australia/Oceania','country':'Kiribati'},
                      {'continent':'Australia/Oceania','country':'Marshall Islands'},
                      {'continent':'Australia/Oceania','country':'Federated States of Micronesia'},
                      {'continent':'Australia/Oceania','country':'Nauru'},
                      {'continent':'Australia/Oceania','country':'New Zealand'},
                      {'continent':'Australia/Oceania','country':'Palau'},
                      {'continent':'Australia/Oceania','country':'Papua New Guinea'},
                      {'continent':'Australia/Oceania','country':'Samoa'},
                      {'continent':'Australia/Oceania','country':'Solomon Islands'},
                      {'continent':'Australia/Oceania','country':'Tonga'},
                      {'continent':'Australia/Oceania','country':'Tuvalu'},
                      {'continent':'Australia/Oceania','country':'Vanuatu'},
                      {'continent':'Europe','country':'Ireland'},
                      {'continent':'Europe','country':'Malta'},
                      {'continent':'Europe','country':'United Kingdom'}]
eng_countries_df = pd.DataFrame(eng_countries_list)

In [38]:
eng_countries_df

            continent                           country
0                Asia                             India
1                Asia                          Pakistan
2                Asia                       Philippines
3                Asia                         Singapore
4              Africa                          Botswana
5              Africa                          Cameroon
6              Africa                          Ethiopia
7              Africa                           Eritrea
8              Africa                        The Gambia
9              Africa                             Ghana
10             Africa                             Kenya
11             Africa                           Lesotho
12             Africa                           Liberia
13             Africa                            Malawi
14             Africa                         Mauritius
15             Africa                           Namibia
16             Africa                           Nigeria
17             Africa                            Rwanda
18             Africa                        Seychelles
19             Africa                      Sierra Leone
20             Africa                      South Africa
21             Africa                       South Sudan
22             Africa                             Sudan
23             Africa                         Swaziland
24             Africa                          Tanzania
25             Africa                            Uganda
26             Africa                            Zambia
27             Africa                          Zimbabwe
28           Americas               Antigua and Barbuda
29           Americas                           Bahamas
30           Americas                          Barbados
31           Americas                            Belize
32           Americas                            Canada
33           Americas                          Dominica
34           Americas                           Grenada
35           Americas                            Guyana
36           Americas                           Jamaica
37           Americas             Saint Kitts and Nevis
38           Americas                       Saint Lucia
39           Americas  Saint Vincent and the Grenadines
40           Americas               Trinidad and Tobago
41           Americas          United States of America
42  Australia/Oceania                         Australia
43  Australia/Oceania                              Fiji
44  Australia/Oceania                          Kiribati
45  Australia/Oceania                  Marshall Islands
46  Australia/Oceania    Federated States of Micronesia
47  Australia/Oceania                             Nauru
48  Australia/Oceania                       New Zealand
49  Australia/Oceania                             Palau
50  Australia/Oceania                  Papua New Guinea
51  Australia/Oceania                             Samoa
52  Australia/Oceania                   Solomon Islands
53  Australia/Oceania                             Tonga
54  Australia/Oceania                            Tuvalu
55  Australia/Oceania                           Vanuatu
56             Europe                           Ireland
57             Europe                             Malta
58             Europe                    United Kingdom

In [22]:
# Make sure the rows/columns count matches with the .csv files
companies_df.shape

(66368, 10)

In [21]:
rounds2_df.shape

(114949, 6)

In [23]:
companies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66368 entries, 0 to 66367
Data columns (total 10 columns):
permalink        66368 non-null object
name             66367 non-null object
homepage_url     61310 non-null object
category_list    63220 non-null object
status           66368 non-null object
country_code     59410 non-null object
state_code       57821 non-null object
region           58338 non-null object
city             58340 non-null object
founded_at       51147 non-null object
dtypes: object(10)
memory usage: 5.1+ MB

In [24]:
rounds2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114949 entries, 0 to 114948
Data columns (total 6 columns):
company_permalink          114949 non-null object
funding_round_permalink    114949 non-null object
funding_round_type         114949 non-null object
funding_round_code         31140 non-null object
funded_at                  114949 non-null object
raised_amount_usd          94959 non-null float64
dtypes: float64(1), object(5)
memory usage: 5.3+ MB

In [25]:
sector_mapping_df.shape

(688, 10)

In [26]:
sector_mapping_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688 entries, 0 to 687
Data columns (total 10 columns):
category_list                              687 non-null object
Automotive & Sports                        688 non-null int64
Blanks                                     688 non-null int64
Cleantech / Semiconductors                 688 non-null int64
Entertainment                              688 non-null int64
Health                                     688 non-null int64
Manufacturing                              688 non-null int64
News, Search and Messaging                 688 non-null int64
Others                                     688 non-null int64
Social, Finance, Analytics, Advertising    688 non-null int64
dtypes: int64(9), object(1)
memory usage: 53.8+ KB

In [49]:
# Merge countries dataset and english speaking countries dataset
# pd.merge(df_a, df_b, on='subject_id', how='inner')
eng_country_df= pd.merge(eng_countries_df,country_df, left_on='country',right_on='Name',how='left')[['Code','country','continent']]

In [50]:
eng_country_df

   Code                           country          continent
0   IND                             India               Asia
1   PAK                          Pakistan               Asia
2   PHL                       Philippines               Asia
3   SGP                         Singapore               Asia
4   BWA                          Botswana             Africa
5   CMR                          Cameroon             Africa
6   ETH                          Ethiopia             Africa
7   ERI                           Eritrea             Africa
8   NaN                        The Gambia             Africa
9   GHA                             Ghana             Africa
10  KEN                             Kenya             Africa
11  LSO                           Lesotho             Africa
12  LBR                           Liberia             Africa
13  MWI                            Malawi             Africa
14  MUS                         Mauritius             Africa
15  NAM                           Namibia             Africa
16  NGA                           Nigeria             Africa
17  RWA                            Rwanda             Africa
18  SYC                        Seychelles             Africa
19  SLE                      Sierra Leone             Africa
20  ZAF                      South Africa             Africa
21  SSD                       South Sudan             Africa
22  SDN                             Sudan             Africa
23  NaN                         Swaziland             Africa
24  NaN                          Tanzania             Africa
25  UGA                            Uganda             Africa
26  ZMB                            Zambia             Africa
27  ZWE                          Zimbabwe             Africa
28  ATG               Antigua and Barbuda           Americas
29  BHS                           Bahamas           Americas
30  BRB                          Barbados           Americas
31  BLZ                            Belize           Americas
32  CAN                            Canada           Americas
33  DMA                          Dominica           Americas
34  GRD                           Grenada           Americas
35  GUY                            Guyana           Americas
36  JAM                           Jamaica           Americas
37  KNA             Saint Kitts and Nevis           Americas
38  LCA                       Saint Lucia           Americas
39  VCT  Saint Vincent and the Grenadines           Americas
40  TTO               Trinidad and Tobago           Americas
41  USA          United States of America           Americas
42  AUS                         Australia  Australia/Oceania
43  FJI                              Fiji  Australia/Oceania
44  KIR                          Kiribati  Australia/Oceania
45  MHL                  Marshall Islands  Australia/Oceania
46  NaN    Federated States of Micronesia  Australia/Oceania
47  NRU                             Nauru  Australia/Oceania
48  NZL                       New Zealand  Australia/Oceania
49  PLW                             Palau  Australia/Oceania
50  PNG                  Papua New Guinea  Australia/Oceania
51  WSM                             Samoa  Australia/Oceania
52  SLB                   Solomon Islands  Australia/Oceania
53  TON                             Tonga  Australia/Oceania
54  TUV                            Tuvalu  Australia/Oceania
55  VUT                           Vanuatu  Australia/Oceania
56  IRL                           Ireland             Europe
57  MLT                             Malta             Europe
58  NaN                    United Kingdom             Europe

In [55]:
# update missing country codes
eng_country_df.loc[(eng_country_df.country=='United Kingdom'),'Code']='GBR'
eng_country_df.loc[(eng_country_df.country=='The Gambia'),'Code']='GMB'
eng_country_df.loc[(eng_country_df.country=='Federated States of Micronesia'),'Code']='FSM'
eng_country_df.loc[(eng_country_df.country=='Tanzania'),'Code']='TZA'
eng_country_df.loc[(eng_country_df.country=='Swaziland'),'Code']='SWZ'
# Not sure about the country codes for Federated States of Micronesia & Swaziland

In [56]:
eng_country_df

   Code                           country          continent
0   IND                             India               Asia
1   PAK                          Pakistan               Asia
2   PHL                       Philippines               Asia
3   SGP                         Singapore               Asia
4   BWA                          Botswana             Africa
5   CMR                          Cameroon             Africa
6   ETH                          Ethiopia             Africa
7   ERI                           Eritrea             Africa
8   GMB                        The Gambia             Africa
9   GHA                             Ghana             Africa
10  KEN                             Kenya             Africa
11  LSO                           Lesotho             Africa
12  LBR                           Liberia             Africa
13  MWI                            Malawi             Africa
14  MUS                         Mauritius             Africa
15  NAM                           Namibia             Africa
16  NGA                           Nigeria             Africa
17  RWA                            Rwanda             Africa
18  SYC                        Seychelles             Africa
19  SLE                      Sierra Leone             Africa
20  ZAF                      South Africa             Africa
21  SSD                       South Sudan             Africa
22  SDN                             Sudan             Africa
23  SWZ                         Swaziland             Africa
24  TZA                          Tanzania             Africa
25  UGA                            Uganda             Africa
26  ZMB                            Zambia             Africa
27  ZWE                          Zimbabwe             Africa
28  ATG               Antigua and Barbuda           Americas
29  BHS                           Bahamas           Americas
30  BRB                          Barbados           Americas
31  BLZ                            Belize           Americas
32  CAN                            Canada           Americas
33  DMA                          Dominica           Americas
34  GRD                           Grenada           Americas
35  GUY                            Guyana           Americas
36  JAM                           Jamaica           Americas
37  KNA             Saint Kitts and Nevis           Americas
38  LCA                       Saint Lucia           Americas
39  VCT  Saint Vincent and the Grenadines           Americas
40  TTO               Trinidad and Tobago           Americas
41  USA          United States of America           Americas
42  AUS                         Australia  Australia/Oceania
43  FJI                              Fiji  Australia/Oceania
44  KIR                          Kiribati  Australia/Oceania
45  MHL                  Marshall Islands  Australia/Oceania
46  FSM    Federated States of Micronesia  Australia/Oceania
47  NRU                             Nauru  Australia/Oceania
48  NZL                       New Zealand  Australia/Oceania
49  PLW                             Palau  Australia/Oceania
50  PNG                  Papua New Guinea  Australia/Oceania
51  WSM                             Samoa  Australia/Oceania
52  SLB                   Solomon Islands  Australia/Oceania
53  TON                             Tonga  Australia/Oceania
54  TUV                            Tuvalu  Australia/Oceania
55  VUT                           Vanuatu  Australia/Oceania
56  IRL                           Ireland             Europe
57  MLT                             Malta             Europe
58  GBR                    United Kingdom             Europe

In [59]:
# Find companies that are in English speaking countries
pd.merge(companies_df,eng_country_df, left_on='country_code',right_on='Code', how='left')

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at,Code,country,continent
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN,IND,India,Asia
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014,USA,United States of America,Americas
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007,NaN,NaN,NaN
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010,USA,United States of America,Americas
5,/Organization/01Games-Technology,01Games Technology,http://www.01games.hk/,Games,operating,HKG,NaN,Hong Kong,Hong Kong,NaN,NaN,NaN,NaN
6,/Organization/0Ndine-Biomedical-Inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-01-1997,CAN,Canada,Americas
7,/Organization/0Xdata,H2O.ai,http://h2o.ai/,Analytics,operating,USA,CA,SF Bay Area,Mountain View,01-01-2011,USA,United States of America,Americas
8,/Organization/1,One Inc.,http://whatis1.com,Mobile,operating,USA,CA,SF Bay Area,San Francisco,01-08-2011,USA,United States of America,Americas
9,/Organization/1-2-3-Listo,"1,2,3 Listo",http://www.123listo.com,E-Commerce,operating,CHL,12,Santiago,Las Condes,01-01-2012,NaN,NaN,NaN
10,/Organization/1-4-All,1-4 All,NaN,Entertainment|Games|Software,operating,USA,NC,NC - Other,Connellys Springs,NaN,USA,United States of America,Americas
11,/Organization/1-618-Technology,1.618 Technology,http://www.Homeandcondogallery.com,Networking|Real Estate|Web Hosting,operating,USA,FL,Orlando,Orlando,07-12-2013,USA,United States of America,Americas
12,/Organization/1-800-Dentist,1-800-DENTIST,http://www.1800dentist.com,Health and Wellness,operating,USA,CA,Los Angeles,Los Angeles,01-01-1986,USA,United States of America,Americas
13,/Organization/1-800-Doctors,1-800-DOCTORS,http://1800doctors.com,Health and Wellness,operating,USA,NJ,Newark,Iselin,01-01-1984,USA,United States of America,Americas
14,/Organization/1-800-Publicrelations-Inc-,"1-800-PublicRelations, Inc.",http://www.1800publicrelations.com,Internet Marketing|Media|Public Relations,operating,USA,NY,New York City,New York,24-10-2013,USA,United States of America,Americas
15,/Organization/1-Mainstream,1 Mainstream,http://www.1mainstream.com,Apps|Cable|Distribution|Software,acquired,USA,CA,SF Bay Area,Cupertino,01-03-2012,USA,United States of America,Americas
16,/Organization/1-Of-99,1 of 99,NaN,Entertainment|Games,operating,USA,CA,SF Bay Area,Mountain View,01-12-2014,USA,United States of America,Americas
17,/Organization/10-20-Media,10-20 Media,http://www.10-20media.com,E-Commerce,operating,USA,MD,Baltimore,Woodbine,01-01-2001,USA,United States of America,Americas
18,/Organization/10-Minutes-With,10 Minutes With,http://10minuteswith.com,Education,operating,GBR,H9,London,London,01-01-2013,GBR,United Kingdom,Europe
19,/Organization/1000-Corks,1000 Corks,http://1000corks.com,Search,operating,USA,OR,"Portland, Oregon",Lake Oswego,01-01-2008,USA,United States of America,Americas
20,/Organization/1000-Markets,1000 Markets,http://www.1000markets.com,Art|E-Commerce|Marketplaces,acquired,USA,WA,Seattle,Seattle,01-01-2009,USA,United States of America,Americas
21,/Organization/1000Chi,Beijing 1000CHI Software Technology,http://www.1000chi.com/,Mobile,operating,NaN,NaN,NaN,NaN,01-01-2008,NaN,NaN,NaN
22,/Organization/1000Lookz,1000Lookz,http://1000lookz.com,Beauty,operating,IND,25,Chennai,Chennai,01-01-2008,IND,India,Asia
23,/Organization/1000Memories,1000memories,http://1000memories.com,Curated Web,acquired,USA,CA,SF Bay Area,San Francisco,01-07-2010,USA,United States of America,Americas
24,/Organization/1000Museums-Com,1000museums.com,http://www.1000museums.com,Curated Web,operating,USA,MA,MA - Other,Lenox,01-01-2008,USA,United States of America,Americas
25,/Organization/1001-Menus,ZenChef,http://zenchef.com/en/,Local Businesses|Restaurants,operating,FRA,A8,Paris,Paris,20-11-2010,NaN,NaN,NaN
26,/Organization/1001Pharmacies-Com,1001pharmacies.com,http://www.1001pharmacies.com/,Cosmetics|Marketplaces,operating,FRA,A9,Montpellier,Montpellier,01-01-2012,NaN,NaN,NaN
27,/Organization/1006-Tv,1006.tv,http://www.1006.tv/,Games|Media,operating,CHN,22,Beijing,Beijing,01-01-2009,NaN,NaN,NaN
28,/Organization/100Du-Tv,100du.tv,http://www.100du.com,Hospitality,operating,CHN,23,Shanghai,Shanghai,NaN,NaN,NaN,NaN
29,/Organization/100E-Com,100e.com,http://www.100e.com,Education,operating,CHN,22,Beijing,Beijing,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
66338,/Organization/Zykis,Zykis,http://zykis.com,Automotive|Data Security|Education|Kids|Portal...,closed,USA,CA,Anaheim,Irvine,27-10-2006,USA,United States of America,Americas
66339,/Organization/Zylie-The-Bear,Zylie the Bear,http://zyliethebear.com,E-Commerce,operating,USA,CT,Hartford,Greenwich,01-01-2009,USA,United States of America,Americas
66340,/Organization/Zylun-Staffing,Zylun Staffing,http://www.zylun.com,Software,operating,USA,UT,Salt Lake City,Lehi,01-01-2010,USA,United States of America,Americas
66341,/Organization/Zyme-Solutions,Zyme Solutions,http://www.zymesolutions.com,Hardware|Hardware + Software,operating,USA,CA,SF Bay Area,Redwood Shores,01-01-2004,USA,United States of America,Americas
66342,/Organization/Zymergen,Zymergen,http://www.zymergen.com,Biotechnology,operating,USA,CA,SF Bay Area,Emeryville,01-01-2013,USA,United States of America,Americas
66343,/Organization/Zymetis,Zymetis,http://www.zymetis.com,Biotechnology,closed,USA,MD,"Washington, D.C.",College Park,01-01-2006,USA,United States of America,Americas
66344,/Organization/Zymeworks,Zymeworks,http://zymeworks.com,Biotechnology,operating,CAN,BC,Vancouver,Vancouver,01-04-2004,CAN,Canada,Americas
66345,/Organization/Zymochem,Zymochem,http://www.zymochem.com,Specialty Chemicals,operating,USA,CA,SF Bay Area,San Francisco,01-05-2013,USA,United States of America,Americas
66346,/Organization/Zympi,Zympi,http://www.zympi.com,Mobile|Networking|Web Hosting,operating,USA,CA,Ontario - Inland Empire,Redlands,03-09-2010,USA,United States of America,Americas
66347,/Organization/Zymr-Inc-,"Zymr, Inc.",http://www.zymr.com,Android|Apps|Cloud Computing|Cloud Infrastruct...,operating,USA,CA,SF Bay Area,Santa Clara,NaN,USA,United States of America,Americas
66348,/Organization/Zyncd,Zyncd,http://www.zyncd.com,Crowdsourcing|Knowledge Management,operating,GBR,H9,London,London,01-01-2014,GBR,United Kingdom,Europe
66349,/Organization/Zyncro,Zyncro,http://www.zyncro.com,Cloud Computing|Enterprise 2.0|Enterprise Soft...,acquired,ESP,56,Barcelona,Barcelona,01-09-2009,NaN,NaN,NaN
66350,/Organization/Zynerba-Pharmaceuticals,Zynerba Pharmaceuticals,http://zynerba.com,Pharmaceuticals,ipo,USA,PA,Philadelphia,Radnor,01-01-2014,USA,United States of America,Americas
66351,/Organization/Zynergy-Projects-Services,Zynergy Projects & Services,http://www.zynergygroup.net/,Clean Technology,operating,IND,25,Chennai,Chennai,NaN,IND,India,Asia
66352,/Organization/Zynga,Zynga,http://www.zynga.com,Facebook Applications|Games|Networking|Technology,ipo,USA,CA,SF Bay Area,San Francisco,01-07-2007,USA,United States of America,Americas
66353,/Organization/Zyngenia,Zyngenia,http://www.zyngenia.com,Biotechnology,operating,USA,MD,"Washington, D.C.",Gaithersburg,01-01-2008,USA,United States of America,Americas
66354,/Organization/Zynstra,Zynstra,http://www.zynstra.com,Software,operating,GBR,A4,Bath,Bath,30-11-2011,GBR,United Kingdom,Europe
66355,/Organization/Zyomyx-Inc,ZYOMYX,http://www.zyomyx.com,Biotechnology,operating,USA,MO,MO - Other,Fremont,01-01-1998,USA,United States of America,Americas
66356,/Organization/Zype,Zype,http://www.zype.com,Cloud Computing|Mobile Advertising|Video|Video...,operating,USA,NY,New York City,New York,01-01-2013,USA,United States of America,Americas
66357,/Organization/Zypsee,Whisk (formerly Zypsee),http://whisk.me,Public Transportation,operating,USA,NY,New York City,New York,01-01-2011,USA,United States of America,Americas
66358,/Organization/Zyraz-Technology,Zyraz Technology,http://www.zyraz.com,Biotechnology,closed,MYS,14,MYS - Other,Damansara New Village,01-01-1994,NaN,NaN,NaN
66359,/Organization/Zyrra,Zyrra,http://www.zyrra.com,E-Commerce,operating,USA,MA,Boston,Cambridge,NaN,USA,United States of America,Americas
66360,/Organization/Zystor,Zystor,http://www.zystor.com,Biotechnology,acquired,USA,WI,Milwaukee,Milwaukee,NaN,USA,United States of America,Americas
66361,/Organization/Zytoprotec,Zytoprotec,http://www.zytoprotec.com,Biotechnology,operating,AUT,3,Vienna,Gerasdorf Bei Wien,01-01-2007,NaN,NaN,NaN
66362,/Organization/Zzish,Zzish,http://www.zzish.com,Analytics|Android|Developer APIs|Education|Gam...,operating,GBR,H9,London,London,28-01-2014,GBR,United Kingdom,Europe
66363,/Organization/Zznode-Science-And-Technology-Co...,ZZNode Science and Technology,http://www.zznode.com,Enterprise Software,operating,CHN,22,Beijing,Beijing,NaN,NaN,NaN,NaN
66364,/Organization/Zzzzapp-Com,Zzzzapp Wireless ltd.,http://www.zzzzapp.com,Advertising|Mobile|Web Development|Wireless,operating,HRV,15,Split,Split,13-05-2012,NaN,NaN,NaN
66365,/Organization/ÃEron,ÃERON,http://www.aeron.hu/,NaN,operating,NaN,NaN,NaN,NaN,01-01-2011,NaN,NaN,NaN
66366,/Organization/ÃAsys-2,Ãasys,http://www.oasys.io/,Consumer Electronics|Internet of Things|Teleco...,operating,USA,CA,SF Bay Area,San Francisco,01-01-2014,USA,United States of America,Americas
66367,/Organization/Ä°Novatiff-Reklam-Ve-Tanä±Tä±M-H...,Ä°novatiff Reklam ve TanÄ±tÄ±m Hizmetleri Tic,http://inovatiff.com,Consumer Goods|E-Commerce|Internet,operating,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Find the column wise percentage null count for rounds2 dataframe 
round(100*(rounds2_df.isnull().sum()/len(rounds2_df.index)),2)

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         72.91
funded_at                   0.00
raised_amount_usd          17.39
dtype: float64

In [7]:
#Drop all the rows which have Null values for raised_amount_usd column.
rounds2_df = rounds2_df[~np.isnan(rounds2_df['raised_amount_usd'])]

In [8]:
round(100*(rounds2_df.isnull().sum()/len(rounds2_df.index)),2)

company_permalink           0.00
funding_round_permalink     0.00
funding_round_type          0.00
funding_round_code         70.34
funded_at                   0.00
raised_amount_usd           0.00
dtype: float64

In [9]:
#Find the average amaount raised for each funding type
investment_type = rounds2_df.groupby('funding_round_type').raised_amount_usd.mean().sort_values(ascending = True)

In [10]:
#Find the average amaount raised for each funding type
investment_type

funding_round_type
non_equity_assistance    4.112031e+05
equity_crowdfunding      5.383682e+05
seed                     7.198180e+05
angel                    9.586945e+05
product_crowdfunding     1.363131e+06
convertible_note         1.453439e+06
grant                    4.300576e+06
venture                  1.174895e+07
debt_financing           1.704353e+07
undisclosed              1.924237e+07
private_equity           7.330859e+07
secondary_market         7.964963e+07
post_ipo_equity          8.218249e+07
post_ipo_debt            1.687046e+08
Name: raised_amount_usd, dtype: float64

In [14]:
#Converting the permlink into lower case for rounds2 dataframe
rounds2_df.apply(lambda x:x.astype(str).str.lower())

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,b,05-01-2015,10000000.0
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,nan,01-03-2014,700000.0
3,/organization/-the-one-of-them-inc-,/funding-round/650b8f704416801069bb178a1418776b,venture,b,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,a,19-03-2008,2000000.0
6,/organization/01games-technology,/funding-round/7d53696f2b4f607a2f2a8cbb83d01839,undisclosed,nan,01-07-2014,41250.0
7,/organization/0ndine-biomedical-inc,/funding-round/2b9d3ac293d5cdccbecff5c8cb0f327d,seed,nan,11-09-2009,43360.0
8,/organization/0ndine-biomedical-inc,/funding-round/954b9499724b946ad8c396a57a5f3b72,venture,nan,21-12-2009,719491.0
9,/organization/0xdata,/funding-round/383a9bd2c04f7038bb543ccef5ba3eae,seed,nan,22-05-2013,3000000.0
10,/organization/0xdata,/funding-round/3bb2ee4a2d89251a10aaa735b1180e44,venture,b,09-11-2015,20000000.0
11,/organization/0xdata,/funding-round/ae2a174c06517c2394aed45006322a7e,venture,nan,03-01-2013,1700000.0
12,/organization/0xdata,/funding-round/e1cfcbe1bdf4c70277c5f29a3482f24e,venture,a,19-07-2014,8900000.0
13,/organization/1,/funding-round/03b975068632eba5bfdb937ec8c07a68,seed,nan,05-02-2014,150000.0
15,/organization/1,/funding-round/e82464f22241715dd1a6c77241055ed1,seed,nan,20-07-2011,1000050.0
16,/organization/1-2-3-listo,/funding-round/6de4609e894495105bc791ed64361288,seed,nan,18-02-2013,40000.0
20,/organization/1-800-doctors,/funding-round/9eb8c7790a0c200d79e75785d1c4aa12,convertible_note,nan,02-03-2011,1750000.0
21,/organization/1-800-publicrelations-inc-,/funding-round/11c228f58831bc7ed337ef69ecc560c2,private_equity,nan,01-02-2015,6000000.0
22,/organization/1-mainstream,/funding-round/b952cbaf401f310927430c97b68162ea,venture,nan,17-03-2015,5000000.0
23,/organization/1-of-99,/funding-round/b5c811f561cfb5701cd5b1762120bbc3,convertible_note,nan,13-12-2014,100000.0
24,/organization/10-20-media,/funding-round/436874dc54b54460f99f44c06e50990a,debt_financing,nan,11-01-2011,800000.0
25,/organization/10-20-media,/funding-round/8025ee9c11a586eac4a234ddec7beb30,debt_financing,nan,18-06-2009,500000.0
26,/organization/10-20-media,/funding-round/a884bf8326b9fd59789c0f74a28dbc3b,debt_financing,nan,28-12-2011,500000.0
27,/organization/10-20-media,/funding-round/d205f5416ce55e126beda3ed2bf2c2cd,debt_financing,nan,30-03-2010,250000.0
28,/organization/10-minutes-with,/funding-round/0faccbbcc5818dc5326469f13f5a8ac8,venture,a,09-10-2014,4000000.0
29,/organization/10-minutes-with,/funding-round/f245a74b4c54610ae843e17bdf4d1113,seed,nan,01-01-2013,400000.0
30,/organization/1000-corks,/funding-round/8f4fa70e24269ddd8bdf6658906b356b,seed,nan,23-08-2011,40000.0
31,/organization/1000-markets,/funding-round/ce6749b6441f52ccaf38b6d5578779fd,seed,nan,15-05-2009,500000.0
32,/organization/1000chi,/funding-round/854fae13c5b26b2ea6b32b06c2e5890c,angel,nan,01-04-2010,43923865.0
34,/organization/1000memories,/funding-round/502bd0e50c27616995e4bdad24605ef8,venture,a,16-02-2011,2520000.0
35,/organization/1000memories,/funding-round/f5fb428ed1e63321f88b3e646ba85f00,seed,nan,01-01-2010,15000.0
36,/organization/1000museums-com,/funding-round/01c1aa44619ae45a16e3098fc73facfa,debt_financing,nan,08-04-2013,647879.0
...,...,...,...,...,...,...
114917,/organization/zynstra,/funding-round/129127802dd48be42d6cd45f65895245,venture,a,12-09-2013,3800000.0
114918,/organization/zynstra,/funding-round/6c01f0a76c1341118d63b670ac841bd9,seed,nan,03-03-2012,225000.0
114919,/organization/zynstra,/funding-round/dee233b3434185c14b3352034f72d798,angel,nan,18-09-2012,2325000.0
114920,/organization/zyomyx-inc,/funding-round/4191cb5258d3863b0212d1083881da64,venture,b,30-06-2013,12000000.0
114921,/organization/zyomyx-inc,/funding-round/85443f5438bfd50104b9591eabc95c94,grant,nan,26-03-2014,7500000.0
114922,/organization/zyomyx-inc,/funding-round/b4fce7f8a13267353d57db09099800e8,venture,nan,11-07-2013,14219999.0
114923,/organization/zyomyx-inc,/funding-round/ea5b21da6cf999ff4d5667431fe318d7,venture,nan,29-01-2010,555016.0
114924,/organization/zype,/funding-round/24e8134882bf6c4dcc385abba0acd5d9,seed,nan,01-04-2015,1700000.0
114925,/organization/zype,/funding-round/c9f5097b3617c7539aa47c8b448163be,seed,nan,27-10-2015,1600000.0
114926,/organization/zypsee,/funding-round/472c6f7940522552fcca465b8cd3deef,seed,nan,25-09-2013,2150000.0
114928,/organization/zyraz-technology,/funding-round/3c3ae0f177e01a04deea811e1828be35,private_equity,nan,15-02-2013,20967.0
114929,/organization/zyraz-technology,/funding-round/55f33b179dd6f4516315348c1e8350c6,angel,nan,01-01-2008,2007363.0
114930,/organization/zyraz-technology,/funding-round/c05aab2155e390066d51c6852ff61464,grant,nan,11-09-2009,5400000.0
114931,/organization/zyraz-technology,/funding-round/e949f077c943db197f20e43c2eb8d0e6,venture,a,09-10-2009,7991547.0
114932,/organization/zyrra,/funding-round/2a13fa52848ace2760b224a350a76b40,seed,nan,15-11-2010,445000.0
114933,/organization/zyrra,/funding-round/39baf35e59eb3efc5409cd4c5eaa50e1,seed,nan,21-10-2010,50000.0
114934,/organization/zyrra,/funding-round/7a0fa791c96c9c447ee54662395beab9,venture,nan,18-10-2012,140500.0
114935,/organization/zyrra,/funding-round/cc8cd96a500332d5b4f4bcbddb306099,angel,nan,15-12-2010,875000.0
114936,/organization/zystor,/funding-round/7ea37c0ff4132b084832039a9380d34e,venture,a,16-12-2004,8500000.0
114937,/organization/zytoprotec,/funding-round/0c43e717298296d2fb334fb236300f6e,venture,a,29-01-2013,2686600.0
114938,/organization/zzish,/funding-round/34b560f672bebeb339a5efa3b27eae5d,grant,nan,25-02-2015,400000.0
114939,/organization/zzish,/funding-round/4c82e18a8e3eab2647719d0fc27ead5f,angel,nan,31-10-2014,400000.0
114940,/organization/zzish,/funding-round/73721fffc980d228f051e87422aa8732,seed,nan,24-03-2014,320000.0
114941,/organization/zznode-science-and-technology-co...,/funding-round/171693e1e07e0230defd8fddb6de4515,venture,a,01-04-2012,1587301.0
114942,/organization/zzzzapp-com,/funding-round/22ef2fafb4d20ac3aa4b86143dbf6c8e,seed,nan,01-11-2011,7000.0
114943,/organization/zzzzapp-com,/funding-round/6ba41360588bc6e3f77e9b50a0ebfafa,seed,nan,01-08-2013,33149.0
114944,/organization/zzzzapp-com,/funding-round/8f6d25b8ee4199e586484d817bceda05,convertible_note,nan,01-03-2014,41313.0
114945,/organization/zzzzapp-com,/funding-round/ff1aa06ed5da186c84f101549035d4ae,seed,nan,01-05-2013,32842.0
114947,/organization/ãasys-2,/funding-round/35f09d0794651719b02bbfd859ba9ff5,seed,nan,01-01-2015,18192.0
114948,/organization/ä°novatiff-reklam-ve-tanä±tä±m-h...,/funding-round/af942869878d2cd788ef5189b435ebc4,grant,nan,01-10-2013,14851.0