Objectives
 

Project Brief
You work for Spark Funds, an asset management company. Spark Funds wants to make investments in a few companies. The CEO of Spark Funds wants to understand the global trends in investments so that she can take the investment decisions effectively.

 

Business and Data Understanding
Spark Funds has two minor constraints for investments:

It wants to invest between 5 to 15 million USD per round of investment

It wants to invest only in English-speaking countries because of the ease of communication with the companies it would invest in

For your analysis, consider a country to be English speaking only if English is one of the official languages in that country

You may use this list: Click here for a list of countries where English is an official language.

 

These conditions will give you sufficient information for your initial analysis. Before getting to specific questions, let’s understand the problem and the data first.

 

1. What is the strategy?

Spark Funds wants to invest where most other investors are investing. This pattern is often observed among early stage startup investors.

 

2. Where did we get the data from? 

We have taken real investment data from crunchbase.com, so the insights you get may be incredibly useful. For this group project, we have divided the data into the following files:

 

You have to use three main data tables for the entire analysis (available for download on the next page):

 

3. What is Spark Funds’ business objective?

The business objectives and goals of data analysis are pretty straightforward.

Business objective: The objective is to identify the best sectors, countries, and a suitable investment type for making investments. The overall strategy is to invest where others are investing, implying that the 'best' sectors and countries are the ones 'where most investors are investing'.
Goals of data analysis: Your goals are divided into three sub-goals:
Investment type analysis: Comparing the typical investment amounts in the venture, seed, angel, private equity etc. so that Spark Funds can choose the type that is best suited for their strategy.
Country analysis: Identifying the countries which have been the most heavily invested in the past. These will be Spark Funds’ favourites as well.
Sector analysis: Understanding the distribution of investments across the eight main sectors. (Note that we are interested in the eight 'main sectors' provided in the mapping file. The two files — companies and rounds2 — have numerous sub-sector names; hence, you will need to map each sub-sector to its main sector.)
 

4. How do you approach the case study? What are the deliverables?

The entire case study is divided into checkpoints to help you navigate. For each checkpoint, you are advised to fill in the tables into the spreadsheet provided in the download segment. The tables are also mentioned under the 'Results Expected' section after each checkpoint. Since this is the first case study, you have been provided with some additional guidance. Going forward you will be expected to structure and solve the problem by yourself, just like you would be solving problems in real life scenarios.

 

Important Note: All your code has to be submitted in one Jupyter notebook. For every checkpoint, keep writing code in one well-commented Jupyter notebook which you can submit at the end.

In [1]:
import pandas as pd
import numpy as np

In [11]:
# Load company dataset
# Without encoding the read_csv was giving an error "Unicode Decode Error"
companies_df = pd.read_csv('Data/companies.txt',delimiter='\t',encoding='unicode_escape')

In [9]:
companies_df.head()

,permalink,name,homepage_url,category_list,status,country_code,state_code,region,city,founded_at
0,/Organization/-Fame,#fame,http://livfame.com,Media,operating,IND,16,Mumbai,Mumbai,NaN
1,/Organization/-Qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,operating,USA,DE,DE - Other,Delaware City,04-09-2014
2,/Organization/-The-One-Of-Them-Inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,operating,NaN,NaN,NaN,NaN,NaN
3,/Organization/0-6-Com,0-6.com,http://www.0-6.com,Curated Web,operating,CHN,22,Beijing,Beijing,01-01-2007
4,/Organization/004-Technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,operating,USA,IL,"Springfield, Illinois",Champaign,01-01-2010

In [14]:
# Load funding rounds file, got same error on the Unicode/Decode Error, used recommended encoding.
rounds2_df = pd.read_csv('Data/rounds2.csv',encoding='unicode_escape')

In [15]:
# Quickly inspect the data frame
rounds2_df.head()

,company_permalink,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,05-01-2015,10000000.0
1,/ORGANIZATION/-QOUNTER,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,14-10-2014,NaN
2,/organization/-qounter,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,01-03-2014,700000.0
3,/ORGANIZATION/-THE-ONE-OF-THEM-INC-,/funding-round/650b8f704416801069bb178a1418776b,venture,B,30-01-2014,3406878.0
4,/organization/0-6-com,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,19-03-2008,2000000.0

In [18]:
rounds2_df.count()

company_permalink          114949
funding_round_permalink    114949
funding_round_type         114949
funding_round_code          31140
funded_at                  114949
raised_amount_usd           94959
dtype: int64

In [20]:
# Load the mapping file for the sector classification
sector_mapping_df = pd.read_csv('Data/mapping.csv')

In [21]:
sector_mapping_df.head()

,category_list,Automotive & Sports,Blanks,Cleantech / Semiconductors,Entertainment,Health,Manufacturing,"News, Search and Messaging",Others,"Social, Finance, Analytics, Advertising"
0,NaN,0,1,0,0,0,0,0,0,0
1,3D,0,0,0,0,0,1,0,0,0
2,3D Printing,0,0,0,0,0,1,0,0,0
3,3D Technology,0,0,0,0,0,1,0,0,0
4,Accounting,0,0,0,0,0,0,0,0,1

In [23]:
# Load the country codes file
# source: https://github.com/datasets/country-codes/blob/master/data/country-codes.csv
# columns of interest: country name: official_name_en, Country code: ISO3166-1-Alpha-3
country_df = pd.read_csv('Data/country-codes.csv')

In [24]:
country_df.head()

,FIFA,Dial,ISO3166-1-Alpha-3,MARC,is_independent,ISO3166-1-numeric,GAUL,FIPS,WMO,ISO3166-1-Alpha-2,...,Sub-region Name,official_name_ru,Global Name,Capital,Continent,TLD,Languages,Geoname ID,CLDR display name,EDGAR
0,TPE,886,TWN,ch,Yes,158.0,925,TW,,TW,...,NaN,NaN,NaN,Taipei,AS,.tw,"zh-TW,zh,nan,hak",1668284.0,Taiwan,NaN
1,AFG,93,AFG,af,Yes,4.0,1,AF,AF,AF,...,Southern Asia,Афганистан,World,Kabul,AS,.af,"fa-AF,ps,uz-AF,tk",1149361.0,Afghanistan,B2
2,ALB,355,ALB,aa,Yes,8.0,3,AL,AB,AL,...,Southern Europe,Албания,World,Tirana,EU,.al,"sq,el",783754.0,Albania,B3
3,ALG,213,DZA,ae,Yes,12.0,4,AG,AL,DZ,...,Northern Africa,Алжир,World,Algiers,AF,.dz,ar-DZ,2589581.0,Algeria,B4
4,ASA,1-684,ASM,as,Territory of US,16.0,5,AQ,,AS,...,Polynesia,Американское Самоа,World,Pago Pago,OC,.as,"en-AS,sm,to",5880801.0,American Samoa,B5

In [26]:
country_df[['official_name_en','ISO3166-1-Alpha-3']]

                                      official_name_en ISO3166-1-Alpha-3
0                                                  NaN               TWN
1                                          Afghanistan               AFG
2                                              Albania               ALB
3                                              Algeria               DZA
4                                       American Samoa               ASM
5                                              Andorra               AND
6                                               Angola               AGO
7                                             Anguilla               AIA
8                                           Antarctica               ATA
9                                  Antigua and Barbuda               ATG
10                                           Argentina               ARG
11                                             Armenia               ARM
12                                               Aruba               ABW
13                                           Australia               AUS
14                                             Austria               AUT
15                                          Azerbaijan               AZE
16                                             Bahamas               BHS
17                                             Bahrain               BHR
18                                          Bangladesh               BGD
19                                            Barbados               BRB
20                                             Belarus               BLR
21                                             Belgium               BEL
22                                              Belize               BLZ
23                                               Benin               BEN
24                                             Bermuda               BMU
25                                              Bhutan               BTN
26                    Bolivia (Plurinational State of)               BOL
27                    Bonaire, Sint Eustatius and Saba               BES
28                              Bosnia and Herzegovina               BIH
29                                            Botswana               BWA
..                                                 ...               ...
220          The former Yugoslav Republic of Macedonia               MKD
221                                        Timor-Leste               TLS
222                                               Togo               TGO
223                                            Tokelau               TKL
224                                              Tonga               TON
225                                Trinidad and Tobago               TTO
226                                            Tunisia               TUN
227                                             Turkey               TUR
228                                       Turkmenistan               TKM
229                           Turks and Caicos Islands               TCA
230                                             Tuvalu               TUV
231                                             Uganda               UGA
232                                            Ukraine               UKR
233                               United Arab Emirates               ARE
234  United Kingdom of Great Britain and Northern I...               GBR
235                        United Republic of Tanzania               TZA
236               United States Minor Outlying Islands               UMI
237                       United States Virgin Islands               VIR
238                           United States of America               USA
239                                            Uruguay               URY
240                                         Uzbekistan               UZB
241                                            Vanuatu               VUT
242                 Venezuela (Bolivarian Republic of)               VEN
243                                           Viet Nam               VNM
244                          Wallis and Futuna Islands               WLF
245                                     Western Sahara               ESH
246                                              Yemen               YEM
247                                             Zambia               ZMB
248                                           Zimbabwe               ZWE
249                                      Åland Islands               ALA

[250 rows x 2 columns]

In [27]:
# Rename the columns for easier analysis in later stages - only country - code & code are required for now
country_df.rename(columns={'official_name_en': 'Name', 'ISO3166-1-Alpha-3': 'Code'}, inplace=True)

In [29]:
country_df[['Code','Name']]

    Code                                               Name
0    TWN                                                NaN
1    AFG                                        Afghanistan
2    ALB                                            Albania
3    DZA                                            Algeria
4    ASM                                     American Samoa
5    AND                                            Andorra
6    AGO                                             Angola
7    AIA                                           Anguilla
8    ATA                                         Antarctica
9    ATG                                Antigua and Barbuda
10   ARG                                          Argentina
11   ARM                                            Armenia
12   ABW                                              Aruba
13   AUS                                          Australia
14   AUT                                            Austria
15   AZE                                         Azerbaijan
16   BHS                                            Bahamas
17   BHR                                            Bahrain
18   BGD                                         Bangladesh
19   BRB                                           Barbados
20   BLR                                            Belarus
21   BEL                                            Belgium
22   BLZ                                             Belize
23   BEN                                              Benin
24   BMU                                            Bermuda
25   BTN                                             Bhutan
26   BOL                   Bolivia (Plurinational State of)
27   BES                   Bonaire, Sint Eustatius and Saba
28   BIH                             Bosnia and Herzegovina
29   BWA                                           Botswana
..   ...                                                ...
220  MKD          The former Yugoslav Republic of Macedonia
221  TLS                                        Timor-Leste
222  TGO                                               Togo
223  TKL                                            Tokelau
224  TON                                              Tonga
225  TTO                                Trinidad and Tobago
226  TUN                                            Tunisia
227  TUR                                             Turkey
228  TKM                                       Turkmenistan
229  TCA                           Turks and Caicos Islands
230  TUV                                             Tuvalu
231  UGA                                             Uganda
232  UKR                                            Ukraine
233  ARE                               United Arab Emirates
234  GBR  United Kingdom of Great Britain and Northern I...
235  TZA                        United Republic of Tanzania
236  UMI               United States Minor Outlying Islands
237  VIR                       United States Virgin Islands
238  USA                           United States of America
239  URY                                            Uruguay
240  UZB                                         Uzbekistan
241  VUT                                            Vanuatu
242  VEN                 Venezuela (Bolivarian Republic of)
243  VNM                                           Viet Nam
244  WLF                          Wallis and Futuna Islands
245  ESH                                     Western Sahara
246  YEM                                              Yemen
247  ZMB                                             Zambia
248  ZWE                                           Zimbabwe
249  ALA                                      Åland Islands

[250 rows x 2 columns]